ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

instance:
    tags:
       # AWS instance name tag; use pattern go-api-production-YYYY-MM-DD
       Name: REPLACE_ME_INSTANCE_NAME
    instance_type: t2.large
    use_elastic_ip: True

    # Set the FQDN for a type A DNS record mapped to the instance's public IP.
    # Use pattern go-api-production-YYYY-MM-DD.geneontology.org
    dns_record_name: "REPLACE_ME_DNS_RECORD"
    # For geneontology.org use Z04640331A23NHVPCC784
    dns_zone_id: "REPLACE_ME_DNS_ZONE_ID"

    disk_size: 200
    open_ports:
       - 80
       - 22
       - 443
